{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super () }}

<section id="hero-1619">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-left">
                <h1 class="cs-title" style="color: white;">{{ product['Name'] }}</h1>
                <span class="cs-price">£{{ product['Price'] }}</span>
                <p style="color: white;">{{ product['Description'] }}</p>
                {% if product['OutOfStock'] %}
                    <button class="cs-button-solid" style="background-color: green;">Add to Cart</button>
                {% else %}
                    <button class="cs-button-solid" disabled>Out of Stock</button>
                {% endif %}
            </div>
            <div class="cs-right-pp">
                <img src="{{ product['ImageURLs'] }}" alt="{{ product['Name'] }}" class="cs-logo">
            </div>
        </div>
    </div>
</section>
<script>
document.querySelector('.cs-button-solid').addEventListener('click', function() {
    const button = this;
    const product = {
        ID: "{{ product['ID'] }}",
        Name: "{{ product['Name'] }}",
        Price: "{{ product['Price'] }}",
        ImageURLs: "{{ product['ImageURLs'] }}"
    };

    fetch('/add-to-cart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(product)
    })
    .then(response => response.json())
    .then(data => {
        // Update the cart display in the navbar
        document.querySelector('.btn-cart').setAttribute('data-quantity', data.cart_length);
        button.textContent = "Added to Cart✅";
    })
    .catch(error => console.error('Error:', error));
});
</script>
{% endblock %}
{% block footer %}
{{ super () }}
{% endblock %}