{% extends 'base.html' %}

{% block head %}
    {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
{% endblock %}
{% block body %}
{{ super() }}
<section id="hero-1618">
    <div class="cs-container">
        <div class="cs-content">
        Access Token: {{ access_token }}<br>
        Merchant ID: {{ merchant_id }}<br>
        Location ID: {{ location_id }}<br>
        Expires in: {{ expires_in }}
        </div>
    </div>
</section>

{% endblock %}